@(userForm: Form[User])

@import helper._

@layout("Create User"){
    <h1>Create User</h1>

    @helper.form(action = routes.HomeController.postRegister()){
        @helper.inputText(userForm("user_name"),'class-> "form-control")
        @helper.inputText(userForm("user_mail"),'class-> "form-control")
        @helper.inputText(userForm("user_phone"),'class-> "form-control")
        @helper.inputPassword(userForm("user_password"),'class-> "form-control")

        <button class="btn btn-success" type="submit"> Create User</button>
    }

}