@import helper._


@layout("注册"){
    <h3>注册</h3>

    @helper.form(action = routes.HomeController.postRegister()){
        @CSRF.formField
        <div class="form-group">
            <label >用户名</label>
            <input type="text" class="form-control" name="username" placeholder="UserName" autofocus>
        </div>
        <div class="form-group">
            <label >电子邮件</label>
            <input type="email" class="form-control" name="usermail" placeholder="Email">
        </div>
        <div class="form-group">
            <label >手机号码</label>
            <input type="tel" class="form-control" name="userphone" placeholder="Telephone">
        </div>
        <div class="form-group">
            <label >密码</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default" >注册用户</button>
    }

}