@(title:String)(username:String)(body : Html)

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-theme.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>
        <header>
            <div class = "navbar navbar-default">
                <div class="container">
                    <div class = "navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#exnav">
                            <span class = "icon-bar"></span>
                            <span class = "icon-bar"></span>
                            <span class = "icon-bar"></span>

                        </button>
                        <a href="@routes.HomeController.mainPage()" class="navbar-brand">CRS2业务监控系统</a>
                    </div>
                    <div class = "collapse navbar-collapse" id="exnav">
                        <ul class="nav navbar-nav navbar-left ">
                            <li class="dropdown">
                                <a href="@routes.HomeController.workFlow()" class="dropdown-toggle" data-toggle="dropdown">
                                    工作流<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">创建工作流</a></li>
                                    <li><a href="#">查看工作流</a></li>
                                    <li><a href="#">修改工作流</a></li>
                                    <li><a href="#">删除工作流</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="@routes.HomeController.taskMonitor()" class="dropdown-toggle" data-toggle="dropdown">
                                    监控任务<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">创建监控任务</a></li>
                                    <li><a href="#">查看监控任务</a></li>
                                    <li><a href="#">修改监控任务</a></li>
                                    <li><a href="#">删除监控任务</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="@routes.HomeController.alarmInfo()" class="dropdown-toggle" data-toggle="dropdown">
                                    告警信息<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">查看告警信息</a></li>
                                    <li><a href="#">删除告警信息</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="@routes.HomeController.userPage()" class="dropdown-toggle" data-toggle="dropdown">
                                    @username<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改信息</a> </li>
                                    <li><a href="#">更改密码</a></li>
                                    <li><a href="@routes.HomeController.logout()">注销登录</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>


        <div class="container">
        @body
        </div>

        <script src="@routes.Assets.versioned("js/jquery-3.3.1.min.js")"></script>
        <script src="@routes.Assets.versioned("js/custom.js")"></script>
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
    </body>
</html>

